body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  
  #IDECanvas {
    background-color: #282a36;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
    animation: fadeIn 1s ease;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes blink {
    50% {
      background-color: transparent;
    }
  }
  
  .json-link {
    color: #f1fa8c; /* ou qualquer cor que você deseja para os links */
    text-decoration: none; /* remove o sublinhado dos links */
  }
  
  .json-link:hover {
    text-decoration: underline; /* adiciona sublinhado ao passar o mouse */
  }
  
  .cursor {
    display: inline-block;
    margin-left: 5px; /* Espaçamento pequeno do último caractere */
    background-color: #0F0;
    width: 10px; /* Largura do cursor */
    animation: blink 1s step-start infinite;
  }
  
  @media (min-width: 1024px) {
    .info-container {
      width: auto; /* A largura será a do conteúdo, mas não mais que 30% */
      max-width: 30%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .info-container {
      width: 70%; /* Aumenta a largura em telas menores */
    }
  }
  
  @media (max-width: 767px) {
    .info-container {
      width: 90%; /* Aumenta ainda mais a largura em telas muito pequenas */
    }
  }
  
  .info-container {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #f8f8f2; /* Cor do texto */
    background-color: #282a36; /* Fundo semi-transparente */
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    min-width: 30%;
    padding: 10px;
    padding-left: 10px;
    border-radius: 12px;
    white-space: pre-wrap; /* Mantém o espaçamento como no elemento <pre> */
    overflow: auto;
    max-height: none;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Sombra leve para destacar */
    z-index: 5;
    font-size: 16px; 
    line-height: 1.5;
  }

  .line-highlight {
    position: absolute;
    width: 100%;
    height: 1em; /* Altura da linha de texto */
    top: 0; /* Posição inicial, você vai ajustar isso com JavaScript */
    left: 0;
    background-color: rgba(255, 255, 255, 0.1); /* Realce suave */
    pointer-events: none; /* Isso permite clicar em elementos 'abaixo' do realce */
  }

  .key {
    color: #8be9fd; /* Cor para chaves JSON, como um azul claro */
    font-weight: bold; /* Deixa as chaves em negrito */
  }
  
  .value {
    color: #f1fa8c; /* Cor para valores JSON, como um verde claro */
  }

  .doubledot {
    color: #ff79c6; /* Cor para os dois pontos, como um rosa claro */
  }